

/*Body Layout*/



.infolayer{
    background-color: transparent !important;
    color:white !important;
}



.js-plotly-plot .plotly .main-svg {
    background-color:transparent!important;
    color:white !important;
}
/*Fisrt row*/

.row-top {
    
    justify-content: space-evenly;
    
}

.top-bar-content-col {
    margin: 4vh 0 3.5vh 0;
    justify-content: space-evenly;
    padding: 0;
}

.top-bar-content {
    justify-content: space-evenly;
}

.departments-dropdown-container.col-2  {
}

.departments-dropdown-container  {
    /* margin: 2.5vh 0; */
    margin: 4vh 0 3.5vh 0;
    /* padding-bottom: 1vh; */
}

/*Second row*/
.middle-content.row{
    margin-bottom: -5 !important;
}
.middle-row{
    /*margin-top: 0 !important;*/
    border: none;
    /*justify-content: space-evenly;*/
    margin: 1.3% 0%;
    margin-bottom:2%;
    /*padding: 0 0.4%;*/
    height:55vh !important;
}

/*.left-column-table-content.col-3.2{
    height:53vh !important;
}

.middle-column-map-content.col-8.8{
    height:53vh !important;
}*/

.row.row-0{
    padding-left:10%;
}

.row.row-1{
    padding-left:10%;
}

.results-table-div.card{
    height: 53vh!important;
}



.dash-table-container{
    height:100vh !important;
}

.dash-table-container .row::-webkit-scrollbar {
    scroll-behavior: smooth;
}

.results-table{
    scroll-behavior: smooth !important;
    overflow-y: scroll;
    
    /* Disable scroll bar */
    -ms-overflow-style: none !important;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.results-table::-webkit-scrollbar { 
    display: none !important;  /* Safari and Chrome */
}

/*Third row*/

}
.bottom-row{
    margin: 1.3% 0;
    padding: 0 0.4%;
    border: none;
    
}

.top-bar-card-body {
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: none;
}

.card-body {
    background-color: #000000;
    padding: 1vw;
    border: none !important;
    border-radius: 1%;
}


/*Charts*/



/*DROPDOWN*/

.lastdays-dropdown-container{
   
}
.lastdays-dropdown{
    width:30%;
    
}



.lastdays-dropdown .Select-control {
    background-color: transparent !important;
    border-color: transparent;
    box-shadow: none !important;
    border-color: transparent !important;
    
}

.lastdays-dropdown .Select-menu-outer {
    background-color: black;
    color : white;
    border-color: transparent;
}
.lastdays-dropdown .Select-input {
    background-color: transparent !important;
}

.lastdays-dropdown .Select-control .Select-value-label {
    color: white !important;
    opacity:0.5;
    cursor: pointer;
}

.VirtualizedSelectOption{
    /*border-bottom:0.1px ;
    /*color: white !important;*/
}

.VirtualizedSelectOption.VirtualizedSelectFocusedOption{
    background-color: black;
    opacity:0.3;
}

.lastdays-dropdown .Select-arrow {
    border-color: white transparent transparent;
    opacity:0.5;
}


.chart-h1-title{
    padding-left: 2%;
    max-width:100%;
    font-size: 1.5vw;
    color:white;
}

/*TOP BAR*/

/*DROPDOWN*/

.departments-dropdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2.5vw !important;
    padding-right: 0;
    max-width: 33%;
    flex: 0 0 33%;
    
    
}

#departments-dropdown{
    width:100%;
    line-height: .7;
}



.departments-dropdown .Select-control {
    background-color: transparent !important;
    border-color: transparent;
    box-shadow: none !important;
    border-color: transparent !important;
    /*overflow: auto;*/
    
    display: inline !important;
    /*margin: 4vh 0 3.5vh 0;*/
    /*font-size:2.5vw;*/
    
}

.departments-dropdown .Select-menu-outer {
    background-color: black;
    border-color: transparent;
    /*margin-left:4vw;*/
    width:97%;
    margin-top: 5%;
    z-index: 100000;
    font-size:1vw !important;
}
.departments-dropdown .Select-input {
    background-color: transparent !important;
    padding:0 0 0 0 !important;
    
}


.departments-dropdown .Select-control .Select-value-label {
    color: white !important;
    cursor: pointer;
    display: inline !important;
}

.departments-dropdown .Select-multi-value-wrapper {
    display: inline !important;
}

.departments-dropdown .Select-multi-value-wrapper .Select-value {
    display: inline !important;
    position: unset !important;
}


.departments-dropdown .Select-arrow {
    border-color: #f4f4f4 transparent transparent;
    margin-bottom:1vh;
    
}





/*DAILY STATS*/

.top-bar-content-col {
    max-width: 75%;
}

.top-bar-card-body .card-body{
    background-color:transparent;
    padding:0;

}
.top-bar-card-body{
    /*padding-left: 0px;
    padding-right: 0px;*/
    box-shadow: none;
}

.top-bar-card-nb_test_cum{
    text-align: center !important;
    background-color: transparent;
    border: none;
}

.top-bar-change-nb_test_cum{
    text-align: center !important;
    font-size:1.5vw;
}

.top-bar-value-nb_test_cum{
    font-size:3vw;
}

.top-bar-card-confirmed{
    text-align: center !important;
    background-color: transparent;
    color:#dc9e00;
    border: none;
}

.top-bar-change-confirmed{
    text-align: center !important;
    font-size:1.5vw;
}

.top-bar-value-confirmed{
    font-size:3vw;
}

.top-bar-card-dc{
    text-align: center !important;
    background-color: transparent;
    color:#c94904;
    border: none;
}

.top-bar-change-dc{
    text-align: center !important;
    font-size:1.5vw;
}

.top-bar-value-dc{
    font-size:3vw;
}

.top-bar-card-death_rate{
    text-align: center !important;
    background-color: transparent;
    color:#a80a1a;
    border: none;
}

.top-bar-perc-change-death_rate{
    text-align: center !important;
    font-size:1.5vw;
}
.top-bar-value-death_rate{
    font-size:3vw;
}

.top-bar-content .card-text{
    text-align: center !important;
    font-size:1.5vw;
}

/*MAP*/

.france-map-container{
    height:100% !important;
}

.map-card.card{
    height:53vh !important;
}


/*BODY*/

.dash-spreadsheet-container table {
    /* Change the default color of hover and Selected objects on chart 
    --accent: none !important;
    --hover: none !important;
    --selected-background: none !important;
    --selected-color: none !important;*/
    
}

.dash-spreadsheet-container .dash-spreadsheet-inner table {
    border-collapse: collapse;
    font-family: monospace;
    --accent: #313841  !important;*/
    --border: transparent !important;
    --text-color: transparent !important;
    --hover: transparent !important;
    --background-color-ellipses: transparent !important;
    --faded-text: transparent !important;
    /*--faded-text-header: transparent !important;*/
    --selected-background: transparent !important;
    --faded-dropdown: transparent !important;
    --muted: transparent !important;
}

.card{
    border:none !important;
}

body {
  background-color: #192029!important;
}

